<%= form_with(model: relationship) do |form| %>
  <% if relationship.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(relationship.errors.count, "error") %> prohibited this relationship from being saved:</h2>

      <ul>
        <% relationship.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :follower_id, style: "display: block" %>
    <%=form.collection_select :follower_id, User.all, :id, :user_name%>
  </div>

  <div>
    <%= form.label :followed_id, style: "display: block" %>
    <%=form.collection_select :followed_id, User.all, :id, :user_name%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
